<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <div class="article-container">
        <h1 class="article-header">{{article.title}}</h1>

        <div class="article-metadata">
          <span class="article-author">Author: {{article.author_id.username}}</span>
          |
          <span class="article-date">Created At:
            {{article.createdAt}}</span>
        </div>

        <div class="article-summary">
          <h2>Summary</h2>
          <p>{{article.summary}}</p>
        </div>

        <div class="article-content">
          <h2>Content</h2>
          <p>{{{article.content}}}</p>
        </div>
      </div>
    </div>
  </div>
</div>